<div class="text-center containeranimate__animated animate__bounce">
    <h1>
        <img class="burger" src="/assets/img/8bit.gif" />
    </h1>
</div>

<div class="container">
    <div class="row text-center justify-content-around">
        <div class="col-5">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/uneaten_partial}}
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-5">
            <ul>
                {{#each finishedBurgers}}
                {{#if devoured}}
                {{> burgers/eaten_partial}}
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<div class="container  pt-4">
    <form class="check">
        <div class="form-group ">
            <div class="row justify-content-center">
                <label for="burger_input animate__animated animate__flash">Order your Burger:</label>
            </div>
            <div class="row justify-content-center">
                <textarea class="form-control burger_input" id="burger_input"></textarea>
            </div>
            <div class="row justify-content-center">
                <button type="submit" class="btn btn-outline-secondary order_button mt-2">Order</button>
            </div>
        </div>
</div>
</form>
</div>