{{!-- have template hbs can render onto --}}

{{!-- create a button that allows user to submit input into db --}}

<div class="text-center container pt-5">
    <img class="burger" src="/assets/img/pixelburger.png" />
</div>
<header>
    <h1 class="container text-center">Eat-Da-Burger</h1>
</header>

<div class="container">
    <div class="row">
        <div class="col-7 pt-5">
            <div class="row">
                <div class="col-8">
                    <p class="p-2">{{burger_to_eat}}</p>
                </div>
                <div class="col-4 devour_button">
                    <button type="button" class="btn btn-outline-secondary">devour</button>
                </div>
            </div>
        </div>
        <div class="col-5 pt-5">
            <div class="row">
                <div class="col-8">
                    <p class="p-2">
                    <ul>
                        {{burger_eaten}}
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container text-center pt-4">
    <div class="form-group">
        <label for="burger_input">Order your Burger:</label>
        <textarea class="form-control" id="burger_input"></textarea>
    </div>
</div>