{{!-- have template hbs can render onto --}}

{{!-- create a button that allows user to submit input into db --}}

<div class="text-center container pt-5">
    <img class="burger" src="/assets/img/pixelburger.png" />
</div>
<header>
    <h1 class="container text-center"> Eat Da Burger! </h1>
    <h4 class="text-center">Order Some Lunch</h4>
</header>