{{!-- have template hbs can render onto --}}

{{!-- create a button that allows user to submit input into db --}}

<header>
    <h1 class="container text-center"> Eat Da Burger! </h1>
    <h4 class="text-center">Order Some Lunch</h4>
</header>
<div class="text-center container">
    <img src="../public/assets/img/daburger.png" />
</div>