{{!-- have template hbs can render onto --}}

{{!-- create a button that allows user to submit input into db --}}

<div class="text-center container pt-5">
    <img class="burger" src="/assets/img/pixelburger.png" />
</div>
<header>
    <h1 class="container text-center">Eat-Da-Burger</h1>
</header>

<div class="container">
    <div class="row">
        <div class="col-7 pt-5">
            <div class="row">
                <div class="col-8">
                    <ul>
                        {{#each burger_to_eat}}
                        {{> partials/uneaten_partial}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-5 pt-5">
            <div class="row">
                <div class="col-8">
                    <ul>
                        {{#each burger_eaten}}
                        {{> partials/eaten_partial}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container pt-4">
    <form>
        <div class="form-group">
            <div class="row align-items-center">
                <div class="col-9 text-center">
                    <label for="burger_input">Order your Burger:</label>
                    <textarea class="form-control" id="burger_input"></textarea>
                </div>
                <div class="col-3 text-center">
                    <button type="submit" class="btn btn-primary order_button">Order</button>
                </div>
            </div>
        </div>
    </form>
</div>