<li class="burger_eaten">
    <div class="row align-self-center">
        <p class="col-9 justify-self-center align-items-center">
            {{burger_names}}
        </p>
        <button type="button" class="col-2 delete-button btn btn-outline-secondary" data-id="{{id}}">Delete</button>
    </div>
</li>