<li class="burger_uneaten">
    <div class="row align-items-center">
        <p class="col-9">
            {{burger_names}}
        </p>
        <button type="button" class="col-2 eat-button btn btn-outline-secondary eat-button"
            data-id="{{id}}">Eat</button>
    </div>
</li>