<li class="burger_uneaten">
    {{burger_names}}
    <span>{{#if gone}}gone{{else}}here{{/if}}</span>
    <button type="button" class=" eat-button btn btn-outline-secondary eat-button">Eat</button>
</li>